* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
body,
html {
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111c4;
  color: white;
}
.container h1{
    font-size:8rem;
    font-weight: 300;
    /* background-color: red; */
    overflow: hidden;
}
h1 span{
    display: inline-block;
}